* {
    color:lightgray;
    font-family: "arial";
    margin: 0; 
    padding: 0;
}
/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
body {
    border:2px solid rgb(41, 41, 41);
    display: flex;
    background-color:rgb(34, 34, 34);
    /* border-radius:10px; */
}
.left {
    width:100px;
    height:500px;
    /* background: red; */
}
.left:hover{
    width:200px;
}
.left:hover + .right{
    width:300px
}
.left,.right {
    overflow-x:hidden;
    transition: .5s;
}
.left .container{
    width:200px;
}
.right .container {
    width:400px;
    display: flex;
    flex-direction: column;
    height:500px;
    
}
.right {
    width:400px;
    height: 500px;
    border-left:3px solid rgb(58, 58, 58);
    /* background-color: blue; */
}
.container{
    overflow-y: scroll;
}

textarea {
    resize: None;
    width:calc(100%-6px);
    border:none;
    color:rgb(168, 168, 168);
    background-color: transparent;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:-10px;  
}
textarea::placeholder{
    color:rgb(88, 88, 88)
}
textarea:focus{
    border-left:3px solid rgb(243, 205, 124);
    outline:0;
}
#title {
    font-size: 18px;
    margin-top:20px;
    /* min-height:100px; */
}
#body{
    font-size:15px;
}
h2 {
    font-size: 18px;
    margin-top:20px;
    font-weight: 400;
    color:rgb(168, 168, 168);
    margin-left:5px;
}
h3 {
    font-size: 16px;
    font-weight: 400;
    color:rgb(168, 168, 168);
    min-width:200px;
    padding-left: 5px;
    
}

.left hr {
    width:80px;
}
ul {
    list-style: none;
}
li {
    display: flex;
    justify-content: space-between;
    background-color:rgb(51, 51, 51) ;
    padding:5px 0px;
    margin-top: 10px;
    margin-left: 40px;
    /* width:100%; */
    overflow: hidden;
    /* margin-right:-10px; */
    position:relative;
    cursor:pointer;
    transition: .5s;
}
li:hover h3 {
    color:white;
}
.left:hover li {
    margin-left: 10px;
}
.deleteItem {
    position:absolute;
    right:0;
    background-color: transparent;
    outline: none;
    border:none;
    background-color: rgb(189, 79, 79);
    margin:-5px;
    display: block;
    width:0px;
    transition: .5s;
    padding-right:5px;
    cursor:pointer;
    
}
.deleteItem:hover span {
    color:white;
}
li:hover .deleteItem {
    width:30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.addItem {
    opacity: 0;
    background-color:transparent;
    outline:none;
    border:none;
    padding-left:5px;
    padding-top:5px;
    cursor: pointer;
    transition: .5s;
}
.addItem * {
    /* color:rgb(150, 148, 148); */
    color:rgb(168, 168, 168);
    
}
.addItem:hover * {
    color:white;
}
.left:hover .addItem {
    opacity: 1;
}
.focus{
    /* background: red; */
    border-left:3px solid rgb(243, 205, 124);
    margin-left:30px
}